# Normalize line endings
* text=auto

# Force LF for all source files
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.cmake text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ini text eol=lf
*.s text eol=lf
*.ld text eol=lf
*.yml text eol=lf

# Force CRLF for Windows batch files
*.bat text eol=crlf

# Binary and AutoCAD files
*.stl binary
*.dwg binary